---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container"></div>

<style>
	a {
		color: aliceblue;
		font-size: 22px;
	}

	@media screen and (max-height: 368px) {
	}

	@media screen and (max-width: 768px) {
	}
</style>
