---
import CardTilt from "../components/CardTil";
import ExperienceItem from "../components/ExperienceItem.astro";
import Briefcase from "../icons/Briefcase.astro";

const EXPERIENCIE = [
    {
        date: "Marzo 2024 - Presente",
        title: "FrontEnd Engineer",
        company: "Banreservas",
        description:
            "Encargado de liderar el desarrollo y optimización de flujos en aplicaciones móviles utilizando tecnologías avanzadas como React Native, TypeScript, Expo y Next.js. Implementación de nuevas funcionalidades y refactorización de componentes existentes para mejorar la eficiencia operativa y la experiencia del usuario final. Colaboración estrecha con equipos multidisciplinarios para garantizar la coherencia entre diseño, backend y QA.",
        link: "https://LinkInLine.vercel.app/",
    },
    {
        date: "Septiembre 2021 - Marzo 2024",
        title: "Tech Lead Mobile Developer",
        company: "Solvex Dominicana",
        description:
            "Responsable del análisis de requisitos técnicos y la arquitectura de soluciones móviles escalables para plataformas iOS y Android. Lideré un equipo de 4 desarrolladores en la implementación de características innovadoras utilizando React Native, Flutter, Firebase y AWS. Optimicé el rendimiento de aplicaciones existentes mediante técnicas de ingeniería de software modernas, logrando una reducción significativa en tiempos de carga y mejoras en la usabilidad.",
        link: "",
    },
    {
        date: "Mayo 2024 - Agosto 2024",
        title: "Mobile Developer",
        company: "Autoridad Portuaria Dominicana (APORDOM)",
        description:
            "Colaboré en el desarrollo de una aplicación móvil estratégica para la gestión de puertos y noticias marítimas en la República Dominicana. Implementé integraciones clave como Google Maps, notificaciones push y servicios basados en la nube con Firebase. Realicé el despliegue exitoso de la aplicación en iOS y Android, asegurando su compatibilidad y rendimiento óptimo.",
        link: "",
    },
    {
        date: "Junio 2023 - Enero 2024",
        title: "Mobile Developer",
        company: "AFP Siembra",
        description:
            "Lideré la implementación de nuevas funcionalidades críticas, incluyendo notificaciones push, carnet virtual y geolocalización para ofertas personalizadas. Trabajé en coordinación con equipos de QA y Backend para garantizar la integridad funcional y la seguridad de los datos mediante encriptación y TOTP. Utilicé Azure DevOps para la gestión de pipelines y analíticas avanzadas.",
        link: "",
    },
    {
        date: "Febrero 2022 - Mayo 2022",
        title: "Mobile Developer",
        company: "Grupo Humano",
        description:
            "Contribuí al desarrollo de nuevas funcionalidades en una aplicación de seguros médicos, incluyendo la integración de pasarelas de pago y geolocalización para farmacias cercanas. Solucioné bugs críticos y optimicé el rendimiento general de la aplicación, mejorando la experiencia del usuario y aumentando la satisfacción del cliente.",
        link: "",
    },
];
---

<section id="experiencia">
    <h2
        class="text-3xl font-semibold pt-24 flex gap-x-3 items-center text-gray-100"
    >
        <Briefcase class="size-7" />
        Experiencia laboral
    </h2>
    <ol class="relative border-s border-gray-200/40 ml-3 mt-8">
        {
            EXPERIENCIE.map((experiencie) => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experiencie} />
                </li>
            ))
        }
    </ol>
</section>
